<ul id="connections">
	{{#if incoming}}
		{{#each connections}}
		<li id="conn{{@index}}" class="well well-sm connection" onclick="app.show_ip_connection_details('{{@index}}', '{{this.ip_origen}}')">
			<div class="brief">
				<span class="ip">{{this.ip_origen}}</span>
				<span class="glyphicon glyphicon-arrow-right"></span>
				<span class="proto">{{this.proto}}</span>
				{{#if this.number}}
				<span class="badge number_badge pull-right">{{this.number}}</span>
				{{/if}}
			</div>
		<div class="more">
	 		<hr>
	 		<div class="details">
				<i class="icon-spin icon-refresh refresh-icon"></i>
			</div>
		</div>
 		</li>
		{{else}}
			<h4>Non hai conexións.</h4>
		{{/each}}
	{{else}}
		{{#each connections}}
		<li id="conn{{@index}}" class="well well-sm connection" onclick="app.show_ip_connection_details('{{@index}}', '{{this.ip_dest}}')">
			<div class="brief">
				<span class="proto">{{this.proto}}</span>
				<span class="glyphicon glyphicon-arrow-right"></span>
				<span class="ip">{{this.ip_dest}}</span>
				{{#if this.number}}
				<span class="badge number_badge pull-right">{{this.number}}</span>
				{{/if}}
			</div>
			<div class="more">
		 		<hr>
		 		<div class="details">
					<i class="icon-spin icon-refresh refresh-icon"></i>
				</div>
			</div>
		</li>
		{{else}}
			<h4>Non hai conexións.</h4>
		{{/each}}
	{{/if}}
</ul>

