<ul id="connections">
	{{#if incoming}}
		{{#each connections}}
		<li id="conn{{@index}}" class="well well-sm connection" onclick="app.show_ip_connection_details('{{@index}}', '{{this.ip_origen}}')">
			<div class="brief">
				<ul class="ip">
					<li class="ip_add">{{this.ip_orig}}</li>
					<li class="domain">
						<span class="domain">
							{{#if this.islocal}}
								(local)</span>
							{{else}}
								{{#if this.domain}}
									({{this.domain}})
									<a class="icon-pencil edit_button" href=""></a>
								{{else}}
									(unknown)
									<a class="icon-pencil edit_button" href=""></a>
								{{/if}}
								</span>
							<a class="icon-pencil edit_button" href="javascript:void(0)" onclick="app.edit_domain_cache('{{this.ip_dest}}', '{{this.domain}}')"></a>
							{{/if}}

					</li>
				</ul>
				<span class="icon-chevron-sign-right"></span>
				<span class="proto">{{this.proto}}</span>
				{{#if this.number}}
				<span class="badge number_badge pull-right">{{this.number}}</span>
				{{/if}}
			</div>
		<div class="more">
	 		<hr>
	 		<div class="details">
				<i class="icon-spin icon-refresh refresh-icon"></i>
			</div>
		</div>
 		</li>
		{{else}}
			<h4>Non hai conexións.</h4>
		{{/each}}
	{{else}}
		{{#each connections}}
		<li id="conn{{@index}}" class="well well-sm connection" onclick="app.show_ip_connection_details('{{@index}}', '{{this.ip_dest}}')">
			<div class="brief">
				<span class="proto">{{this.proto}}</span>
				<span class="icon-chevron-sign-right"></span>
				<ul class="ip">
					<li class="ip_add">{{this.ip_dest}}</li>
					<li class="domain">
						<span class="domain">
						{{#if this.islocal}}
							(local)</span>
						{{else}}
							{{#if this.domain}}
								({{this.domain}})
							{{else}}
								(unknown)
							{{/if}}
							</span>
							<a class="icon-pencil edit_button" href="javascript:void(0)" onclick="app.edit_domain_cache('{{this.ip_dest}}', '{{this.domain}}')"></a>
						{{/if}}
					</li>
				</ul>
				{{#if this.number}}
				<span class="badge number_badge pull-right">{{this.number}}</span>
				{{/if}}
			</div>
			<div class="more">
		 		<hr>
		 		<div class="details">
					<i class="icon-spin icon-refresh refresh-icon"></i>
				</div>
			</div>
		</li>
		{{else}}
			<h4>Non hai conexións.</h4>
		{{/each}}
	{{/if}}
</ul>

