<ul id="conn_ips">
	{{#each connections}}
	<li id="conn{{@index}}" class="connected_ip" onclick="app.enable_ip_info('{{@key}}')">
		<span class="moonicon-screen computer_icon"></span>
		{{#ifether this.dev}}
		<span class="moonicon-tree conn_icon"></span>
		{{else}}
		<span class="moonicon-connection conn_icon"></span>
		{{/ifether}}
		{{#isenabled this}}
		<span class="moonicon-close enable_icon"></span>
		{{/isenabled}}
		<ul class="ip_info">
			<li class="ip">{{@key}}</li>
			<li class="hostname">{{hostname}} </li>
			<li class="macvendor">{{vendor}} </li>
		</ul>
		<ul class="numconn">
			<li>
				<span class="glyphicon glyphicon-chevron-up pull-left"></span>
				Saíntes
				<span class="badge pull-right">{{{connnum this.Outgoing}}}</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-chevron-down pull-left"></span>
				Entrantes
				<span class="badge pull-right">{{{connnum this.Incoming}}}</span>
			</li>
		</ul>
		<ul class="sizeconn">
			<li>
				<span class="glyphicon glyphicon-chevron-up pull-left"></span>
				Datos Descargados
				<span class="badge pull-right">{{{sizeconn "in" this.Outgoing this.Incoming}}}</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-chevron-down pull-left"></span>
				Datos Subidos
				<span class="badge pull-right">{{{sizeconn "out" this.Outgoing this.Incoming}}}</span>
			</li>
		</ul>
	</li>
	{{/each}}
</ul>